.card{ 
    background-color: cornflowerblue;
    width: 300px;
    border: 2px solid lightcoral;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 10px 10px 10px saddlebrown;

}
.card:hover{
    background-color: cyan;
}
.card img{
    width: 100%;
    border-radius: 6px;
}
.card button{
    background-color: lightseagreen;
    transition: 0.3s;
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
}
.card button:hover{
    background-color: aquamarine;
}
.card-container{
    display: flex;
    gap: 50px;
}