.hero-section{
    background-color: rgb(59, 134, 59);
    display: flex;
    margin: 15px;
    padding: 20px;
    align-items: center;
    font-size: 1.35em;
    border-radius: 10px;
}
.hero-section img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.hero-section button{
    background-color: darkcyan;
    transition: .3s;
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
}
.hero-section button:hover{
    background-color: cadetblue;
}
body{
    background-color: bisque;
    max-width: 1270px;
    margin: 0 auto;
}